body {font-family: Arial, Helvetica, sans-serif;}
img {
    width: 420px;
}
body {background-color: rosybrown;}
h1 {
    color: red;
}
p{
    background-color: gray; color: black; font-family: 'Courier New', Courier, monospace;
}